@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

/*
body {
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  color: rgb(var(--foreground-rgb));
  transition: background-color 0.3s, color 0.3s;
}

/* Define your default (light) theme 
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* Define your dark theme 
body.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(244 244 245);
  outline: 1px solid slategrey;
}

.navbar-products {
  @apply cursor-pointer block py-2 pl-3 pr-4 text-[#3C2925] rounded md:p-0;
}

.button-navbar {
  @apply text-[#3C2925] hover:text-[#3C2925] border border-[#3C2925] hover:bg-[#3C2925] focus:ring-4 focus:outline-none focus:ring-orange-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-[#3C2925] dark:text-[#3C2925] dark:hover:text-white dark:hover:bg-[#3C2925] dark:focus:ring-[#3C2925];
}

.button-custom {
  @apply w-full text-[#3C2925] hover:text-[#3C2925] border border-[#3C2925] hover:bg-[#3C2925] focus:ring-4 focus:outline-none focus:ring-orange-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-[#3C2925] dark:text-[#3C2925] dark:hover:text-white dark:hover:bg-[#3C2925] dark:focus:ring-[#3C2925];
}

.custom-file-input {
  @apply cursor-pointer inline-block text-neutral-200 bg-zinc-900 py-2 px-4 rounded-md;
}

#choose-file {
  @apply px-4 py-2 bg-zinc-900 text-white rounded-md;
}

#custom-text {
  @apply ml-5 text-zinc-900;
}

.section-product {
  @apply bg-neutral-100 py-12 sm:py-16;
}

.article-card {
  @apply grid bg-white rounded-lg;
}

.button-custom-card {
  @apply inline-flex ml-4 w-10/12 items-center justify-center  rounded-lg tracking-wide py-2.5 text-center mr-2 mb-2  bg-neutral-800 px-5 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)];
}

.cart-button {
  @apply w-full text-neutral-50 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-neutral-50 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800;
}

img {
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
}

.button-home-page {
  @apply inline-flex w-7/12 mt-5 items-center justify-center  rounded-lg tracking-wide py-2.5 text-center mr-2 mb-2  bg-neutral-800 px-5 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)];
}

.custom-file-input {
  @apply cursor-pointer inline-block text-white bg-[#3C2925] py-2 px-4 rounded-md;
}

#choose-file {
  @apply px-4 py-2 bg-[#3C2925] text-white rounded-md;
}

#custom-text {
  @apply ml-5 text-white;
}
